*{
    margin: 0;
    padding: 0;
   
}

body{
background-image: url(./components/assets/marek-piwnicki-r9Vd1u6Q_8c-unsplash.jpg);
background-size: cover;
background-repeat: no-repeat;
width: 100%;
height: 100%;

}